<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashtagh.pokeservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
    <service android:enabled="true" android:name="com.hashtagh.pokeservice.BGService"></service>
    </application>
</manifest>
